body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-row {
  display: flex;
}
.wrap {
  width: 100%;
  min-width: 640px;
  min-height: 100vh;
}
.bold {
  font-weight: bold;
  color: black;
}
.semi_bold {
  font-weight: 500;
}
.main__project-heading {
  margin-top: 0;
  margin-bottom: 0;
}

/*
Sidebar styles
*/
.sidebar {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #dddddd;
  color: #6f6f6f;
}
.sidebar__top {
  flex: 1;
}
.sidebar__btn {
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #c4c4c4;
  min-width: 130px;
}
.sb__user {
  align-items: center;
  justify-content: space-around;
  min-width: 130px;
}
.sb__user__icon {
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#a7acb9, #868b95);
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb__user__img {
  display: none;
}

/*
Main styles
*/
.main {
  flex: 3;
  padding: 25px;
  position: relative;
  background-color: #f6f6f6;
}
.main__btn {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  min-width: 80px;
}
.main__info p {
  display: flex;
  margin:  0 0 20px;
}
.main__info p em{
  font-style: normal;
  min-width:  140px;
}

table {
  width: 100%;
  border: 1px solid #bdbdbd;
  margin-top: 15px;
  font-size: 0.8em;
}
td,
th {
  text-align: left;
  padding: 8px;
}
.table-head {
  background-color: #e9e9e9;
}
tr {
  width: 100%;
}
tr:nth-child(odd) {
  background-color: #e5e5e5;
}

.plus_min_button {
  display: flex;
}
.plus_min_button button {
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #bdbdbd;
  min-width: 30px;
  background: white;
  font-size: 15px;
  color: #494949;
}
.interval-select {
  border: 1px solid #e5e5e5;
  padding: 5px;
  border-radius: 5px;
}
.main__projects input {
  margin:  0;
}
.main__projects label {
  margin-left: 20px;
}